<nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0" >Sweety</h1>
  <ul class="nav navbar-nav navbar-text float-xs-right">
    <li class="nav-item"><%= link_to "View a Report", reports_new_path, class: "nav-link"%></li>
    <li class="nav-item"><%= link_to "Enter a Reading", root_path, class: "nav-link"%></li>
  </ul>
</nav>
